%p 
  Welcome to Premium, the social network for founders of startup incubators. 
  Membership is a mere $20 a month. With millions of founders of startup incubators 
  worldwide, you can share your portfolio of startups and brag about their exits.

%p
  = link_to "Join Today!", "#"

